/* ----------- BASE ----------- */ 
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
    --primary: #fded35;
    --light: #f0f0f0;
    --dark: #333;
    --error: #b00;
    --success: #0b0;
    --alert: #bb0;
    --white: #fff;
    --unit: 8px;
    --font: 'Lato', sans-serif;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    padding: 0;
    background: var(--light);
    color: var(--dark);
    font-family: var(--font);
}

a,
a:hover,
a:link {
    text-decoration: none;
}

h1, .h1 {
    font-size: 4rem !important;
    font-weight: 400;
}

h2, .h2 {
    font-size: 3.5rem !important;
    font-weight: 400;
}

h3, .h3 {
    font-size: 3rem !important;
    font-weight: 400;
}

h4, .h4 {
    font-size: 2.5rem !important;
    font-weight: 400;
}

h5, .h5 {
    font-size: 2rem !important;
    font-weight: 400;
}

h6, .h6 {
    font-size: 1.5rem !important;
    font-weight: 400;
}

img {
    width: 100%;
    vertical-align: top;
}

.container {
    width: calc(100% - 2rem);
    max-width: 1200px;
    margin: 0 auto;
}

/* -----X----- BASE -----X----- */ 

/* ----------- STYLE ----------- */ 

main {
    margin: calc(var(--unit) * 4) 0;
    min-height: calc(100vh - 20.7rem);
}

.card {
    background: white;
    border-radius: calc(var(--unit) / 2);
    box-shadow: 0 0 var(--unit) rgba($color: #000000, $alpha: 0.05);
}

.card-body {
    padding: var(--unit);
}

.card-footer {
    padding: var(--unit);
    background: white;
}

/* -----X----- STYLE -----X----- */ 